@font-face {
	font-family: 'test';
	src: url('Sonic-CT03VF.woff2') format('woff2-variations');
	font-weight: 50 100;
}

@font-face {
	font-family: 'test2';
	src: url('Sonic-CT05VF.woff2') format('woff2-variations');
	font-weight: 50 100;
}

@font-face {
	font-family: 'test3';
	src: url('Sonic-CT06VF.woff2') format('woff2-variations');
	font-weight: 50 100;
}

@font-face {
	font-family: 'test4';
	src: url('Sonic-CT01VF.woff2') format('woff2-variations');
	font-weight: 50 100;
}

@font-face {
	font-family: 'grime-1';
	src: url('Sonic-grime-open-01VF.woff2') format('woff2-variations');
	font-weight: 50 100;
}

@font-face {
	font-family: 'grime-2';
	src: url('Sonic-grime-open-02VF.woff2') format('woff2-variations');
	font-weight: 50 100;
}

@font-face {
	font-family: 'grime-3';
	src: url('Sonic-grime-open-03VF.woff2') format('woff2-variations');
	font-weight: 50 100;
}

@font-face {
	font-family: "Suisse Int'l Book"; 
	src: url("//db.onlinewebfonts.com/t/17241fb9c2ffb3ec11eba762e771435f.eot"); 
	src: url("//db.onlinewebfonts.com/t/17241fb9c2ffb3ec11eba762e771435f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/17241fb9c2ffb3ec11eba762e771435f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/17241fb9c2ffb3ec11eba762e771435f.woff") format("woff"), url("//db.onlinewebfonts.com/t/17241fb9c2ffb3ec11eba762e771435f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/17241fb9c2ffb3ec11eba762e771435f.svg#Suisse Int'l Book") format("svg"); 
} 