@font-face {
	font-family: 'grime-1';
	src: url('Sonic-grime-open-01VF.woff2') format('woff2-variations');
	font-weight: 50 100;
}

@font-face {
	font-family: 'grime-2';
	src: url('Sonic-grime-open-02VF.woff2') format('woff2-variations');
	font-weight: 50 100;
}

@font-face {
	font-family: 'grime-3';
	src: url('Sonic-grime-open-03VF.woff2') format('woff2-variations');
	font-weight: 50 100;
}

@font-face {
	font-family: 'dirt-1';
	src: url('Sonic-Dirt-open-01VF.woff2') format('woff2-variations');
	font-weight: 50 100;
}

@font-face {
	font-family: 'dirt-2';
	src: url('Sonic-Dirt-open-02VF.woff2') format('woff2-variations');
	font-weight: 50 100;
}

@font-face {
	font-family: 'dirt-3';
	src: url('Sonic-Dirt-open-03VF.woff2') format('woff2-variations');
	font-weight: 50 100;
}



@font-face {
	font-family: "Suisse";  
	src: url('SuisseIntl-Regular-WebM.woff2');
	font-weight: 300;
  font-style: normal;
} 

@font-face {
	font-family: "Suisse";  
	src: url('SuisseIntl-RegularItalic-WebM.woff2');
	font-weight: 300;
  font-style: italic;
} 

@font-face {
	font-family: "Suisse";  
	src: url('SuisseIntl-Medium-WebM.woff2');
	font-weight: 500;
  font-style: normal;
} 

@font-face {
	font-family: "Suisse";  
	src: url('SuisseIntl-MediumItalic-WebM.woff2');
	font-weight: 500;
  font-style: italic;
} 