.festival-programme{
	min-height: 100vh;
	h1{
		text-align: center;
		font-size: 19vw;
		position: relative;
	}
	.layer-1{
		position: absolute;
		font-family: 'grime-3';
		width: 100vw;
		color: #C0E1D7;
	}
	.layer-2{
		font-family: 'grime-1';
		width: 100vw;
		color: #07153D;
	}
	.intro{
		p{
			font-size: 35px;
			line-height: 45px;
		}
	}
	.programme-list{
		span{
			font-size: 20px;
			line-height: 27px;
			&.date{
				margin-left: 30px;
			}
		}
		h2{
			font-size: 50px;
			line-height: 50px;
		}
		.programme-item{
			border-bottom: 5px solid black;
			padding: 14px 0;
			position: relative;
			.content-wrapper{
				.info{
					white-space: initial;
					span{
						display: inline-block;
						&:after{
							content: '/';
							margin: 0 10px;
						}
						&:last-child{
							&:after{
								content: '';
							}
						}
					}
				}
			}
		}
	}
	.vocht-1{
		width: 50%;
		position: absolute;
		bottom: -25px;
		right: 0;
		stroke-width: 10px;
		overflow: visible;
		path{
			stroke: black;
			stroke-width:1px;
			animation: vochtAnimation 10s infinite;
			animation-delay: var(--delay);
			animation-timing-function: ease-in-out, ease-in-out;
			animation-direction: alternate;
		}
	}
}

@keyframes vochtAnimation {
	0% {
		stroke-width: 1px;
		transform: scale(1,1);
	}
	100% {
		stroke-width: 20px;
		transform: scale(1,1.3);
	}
}
