html,
body {
  padding: 0;
  margin: 0;
  font-family: "Suisse Int'l Book", Arial, Helvetica, sans-serif;
  font-family: 'test-v13VF';
  max-width: 100vw;
  overflow-x: hidden;
}

h1,h2 {
  margin:0
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}