/* @font-face {font-family: "Suisse Int'l Book"; src: url("//db.onlinewebfonts.com/t/17241fb9c2ffb3ec11eba762e771435f.eot"); src: url("//db.onlinewebfonts.com/t/17241fb9c2ffb3ec11eba762e771435f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/17241fb9c2ffb3ec11eba762e771435f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/17241fb9c2ffb3ec11eba762e771435f.woff") format("woff"), url("//db.onlinewebfonts.com/t/17241fb9c2ffb3ec11eba762e771435f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/17241fb9c2ffb3ec11eba762e771435f.svg#Suisse Int'l Book") format("svg"); } */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Suisse Int'l Book", Arial, Helvetica, sans-serif;
  font-family: 'test-v13VF';
  max-width: 100vw;
  overflow-x: hidden;
  /* background-color: black; */
  color: white;
  background-color: rgb(1,50,32);
}

h1,h2 {
  margin:0
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}


.main-title{
  font-family: "Suisse Int'l Book", Arial, Helvetica, sans-serif;
}

.big-text{
  font-family: 'test', Arial, Helvetica, sans-serif;
  text-align: center;
}
