.landing{
	background-color: rgb(230, 230, 230);
	padding: 14px;
	.landing-section{
		padding: 14px 0;
		margin-bottom: 48px;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.title-wrapper{
			h1{
				font-size: calc(16px + 9vw);
				line-height: 0.8;
				font-weight: 500;
			}
		}
		.info-wrapper{
			h2{
				border-top: 2px solid black;
				font-size: 80px;
				text-align: right;
				font-weight: 300;
			}
		}
		.special-text{
			position: absolute;
			width: 90vw;
			top: 55%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 19.2vw;
			line-height: 1;
			.layer-1{
				position: absolute;
				color: rgb(	36,11,35);
				font-family: 'grime-3';
				font-weight: 80;
				z-index: -1;
				div{
					display: inline-flex;
					flex-wrap: wrap;
					span{
						display: block;
						min-width: 3.5vw;
						min-height: 3.5vw;
					}
				}
			}
			.layer-2{
				position: absolute;
				color: #C0E1D7;
				font-family: 'grime-2';
				font-weight: 60;
				z-index: -1;
				div{
					display: inline-flex;
					flex-wrap: wrap;
					span{
						display: block;
						min-width: 3.5vw;
						min-height: 3.5vw;
					}
				}
			}
			.animated-text{
				color: white;
				font-family: 'grime-1';
				font-variation-settings: 'wght' 50;
				-moz-font-variation-settings: 'wght' 50 ;
				div{
					display: inline-flex;
					flex-wrap: wrap;
					span{
						transition: font-variation-settings 2s ease-out;
						-webkit-transition: font-variation-settings 2s ease-out;
						transition-delay: var(--delay);
						-webkit-transition-delay: var(--delay);
						display: block;
						min-width: 3.5vw;
						min-height: 3.5vw;
					}
					&:hover, &:active{
						span{
							font-variation-settings: 'wght' 100;
							-moz-font-variation-settings: 'wght' 100 ;
						}
					}
				}
			}
		}
	}
	.Collapsible{
		border-top: 2px solid black;
		padding: 14px 0;
		transition: all 0.4s;
		span.Collapsible__trigger{
			font-size: 36px;
			line-height: 1.1;
			font-weight: 300;
			width: 100%;
			cursor: pointer;
			display: flex;
			justify-content: space-between;
			align-items: center;
			&:after{
				content: "";
				border: solid black;
				border-width: 0 3px 3px 0;
				display: block;
				height: 100%;
				transform: rotate(-135deg);
				-webkit-transform: rotate(-135deg);
				width: 14px;
				height: 14px;
				margin-right: 14px;
				transition: all 0.4s;
			}
			&.is-open{
				&:after{
					transform: rotate(-135deg);
  				-webkit-transform: rotate(-135deg);
				}
			}
			&.is-closed{
				&:after{
					transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
				}
			}
		}
	}

	h2{
		font-size: 72px;
		font-weight: 300;
		line-height: 1.1;
	}
	h3{
		font-size: 36px;
		line-height: 1.1;
		font-weight: 300;
		width: 60vw;
	}
	p{
		font-size: 24px;
		width: 60vw;
		font-weight: 300;
		line-height: 1.4;
	}

	@media only screen and (max-width: 1200px) {
		.landing-section {
			height: 80vh;
			.special-text{
				top: 40%;
			}
			.info-wrapper{
				h2{
					font-size: 48px;
				}
			}
		}
	}

	@media only screen and (max-width: 900px) {
		h2{
			font-size: 36px;
		}
		h3{
			font-size: 28px;
			width: 100%;
		}
		p{
			font-size: 18px;
			width: 100%;
		}	
	}

	

	@media only screen and (max-width: 600px) {
		.landing-section {
			height: 40vh;
			.special-text{
				top: 22%;
			}
			.info-wrapper{
				h2{
					font-size: 30px;
				}
			}
		}
	}


}
