.landing{
	background-color: rgb(230, 230, 230);
	padding: 14px;
	.landing-section{
		padding: 14px 0;
		margin-bottom: 48px;
		height: 100vh;
		position: relative;
		.title-wrapper{
			h1{
				font-size: calc(16px + 9vw);
				line-height: 0.8;
				font-weight: 500;
				margin-top: 0px;
			}
		}
		.info-wrapper{
			position: absolute;
			bottom: 14px;
			right: 14px;
			width: 100%;
			left: 0px;
			border-bottom: 2px solid black;
			h2{
				border-top: 2px solid black;
				font-size: 80px;
				text-align: right;
				font-weight: 300;
			}
		}
		.special-text{
			position: absolute;
			width: 90vw;
			top: 55%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 19.2vw;
			line-height: 0.8;
			z-index: 99;
			.layer-1{
				position: absolute;
				color: rgb(	36,11,35);
				font-family: 'grime-3';
				font-weight: 80;
				z-index: -1;
				div{
					display: inline-flex;
					flex-wrap: wrap;
					span{
						display: block;
						min-width: 3.5vw;
						min-height: 3.5vw;
						&:nth-last-child(-n+3){
							margin-top: 4vw;
						}
					}
				}
			}
			.layer-2{
				position: absolute;
				color: #C0E1D7;
				font-family: 'grime-2';
				font-weight: 60;
				z-index: -1;
				div{
					display: inline-flex;
					flex-wrap: wrap;
					span{
						display: block;
						min-width: 3.5vw;
						min-height: 3.5vw;
						&:nth-last-child(-n+3){
							margin-top: 4vw;
						}
					}
				}
			}
			.animated-text{
				color: white;
				font-family: 'grime-1';
				font-variation-settings: 'wght' 50;
				-moz-font-variation-settings: 'wght' 50 ;
				div{
					display: inline-flex;
					flex-wrap: wrap;
					span{
						transition: font-variation-settings 2s ease;
						-webkit-transition: font-variation-settings 2s ease;
						transition-delay: var(--delay);
						-webkit-transition-delay: var(--delay);
						display: block;
						min-width: 3.5vw;
						min-height: 3.5vw;
						&:nth-last-child(-n+3){
							margin-top: 4vw;
						}
					}
					&:hover, &:active{
						span{
							font-variation-settings: 'wght' 100;
							-moz-font-variation-settings: 'wght' 100 ;
						}
					}
				}
			}
		}
	}
	.Collapsible{
		border-top: 2px solid black;
		border-bottom: 2px solid black;
		margin-top: -2px;
		padding: 14px 0;
		transition: all 0.4s;
		strong{
			font-size: 36px;
			font-weight: 300;
		}
		span.Collapsible__trigger{
			font-size: 36px;
			line-height: 1.1;
			font-weight: 300;
			width: 100%;
			cursor: pointer;
			display: flex;
			justify-content: space-between;
			align-items: center;
			transition: all 0.4s;
			&:after{
				content: "";
				border: solid black;
				border-width: 0 3px 3px 0;
				display: block;
				height: 100%;
				transform: rotate(-135deg);
				-webkit-transform: rotate(-135deg);
				width: 14px;
				height: 14px;
				margin-right: 14px;
				transition: all 0.4s;
			}
			&.is-open{
				font-weight: 500;
				&:after{
					transform: rotate(-135deg);
  				-webkit-transform: rotate(-135deg);
				}
			}
			&.is-closed{
				&:after{
					transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
				}
			}
		}
	}
	.landing-outro{
		.special-text{
			top: 40%;
		}
	}
	.columns-wrapper{
		display: flex;
		width: 60vw;
		position: absolute;
		bottom: -40px;
		flex-wrap: wrap;
		.column{
			width: 50%;
			padding-right: 14px;
			p{
				width: 100%;
			}
		}
	}

	h1{
		font-size: 80px;
		font-weight: 300;
		line-height: 1.1;
		margin-top: 48px;
	}
	h2{
		font-size: 72px;
		font-weight: 300;
		line-height: 1.1;
	}
	h3{
		font-size: 36px;
		line-height: 1.1;
		font-weight: 300;
		width: 60vw;
	}
	p{
		font-size: 24px;
		width: 60vw;
		font-weight: 300;
		line-height: 1.4;
	}

	.cta-buttons{
		font-size: calc(32px + 10vw);
		display: block;
		text-align: center;
		font-weight: 60;
		position: relative;
		padding: 4vw 0;
		.slide-wrapper{
			position: relative;
			width: 100%;
			&:hover, &:active{
				span, a{
					font-variation-settings: 'wght' 100;
					-moz-font-variation-settings: 'wght' 100 ;
				}
			}
			span{
				position: absolute;
				left: 0;
				width: 100%;
				text-align: center;
				display: inline-block;
				transition: font-variation-settings 1s ease;
				-webkit-transition: font-variation-settings 1s ease;
				&:nth-child(1){
					font-family: 'dirt-3';
					color: rgb(	36,11,35);
					z-index: -1;
					font-variation-settings: 'wght' 75;
					-moz-font-variation-settings: 'wght' 75 ;
				}
				&:nth-child(2){
					font-family: 'dirt-2';
					color: #C0E1D7;
					z-index: -1;
					font-variation-settings: 'wght' 70;
					-moz-font-variation-settings: 'wght' 70;
				}
			}
			a{
				padding: 0 2vw;
				text-decoration: none;
				font-family: 'dirt-1';
				color: white;
				font-variation-settings: 'wght' 50;
				-moz-font-variation-settings: 'wght' 50 ;
				transition: font-variation-settings 1s ease;
				-webkit-transition: font-variation-settings 1s ease;
			}
		}
	}

	@media only screen and (max-width: 1200px) {
		.landing-section {
			height: 80vh;
			.info-wrapper{
				h2{
					font-size: 48px;
				}
			}
		}
		.landing-outro{
			height: 90vh;
			.special-text{
				top: 20%;
			}
		}
	}

	@media only screen and (max-width: 900px) {
		h1{
			font-size: 36px;
		}
		h2, .Collapsible span.Collapsible__trigger{
			font-size: 28px;
		}
		h3{
			font-size: 24px;
			width: 100%;
		}
		p{
			font-size: 18px;
			width: 100%;
		}	
		.columns-wrapper{
			display: flex;
			width: 100%;
			position: absolute;
			bottom: -40px;
			flex-wrap: wrap;
		}
		.landing-outro{
			height: 55vh;
			.special-text{
				top: 35%;
			}
		}
	}

	

	@media only screen and (max-width: 600px) {
		.landing-section {
			height: 50vh;
			.special-text{
				top: 45%;
			}
			.info-wrapper{
				h2{
					font-size: 36px;
				}
			}
		}
		.landing-outro{
			height: 70vh;
			.special-text{
				top: 15%;
			}
		}
		.columns-wrapper{
			p{
				font-size: 16px;
			}
			.column{
				width: auto;
			}
		}
		.Collapsible{
			strong{
				font-size: 30px;
				font-weight: 300;
			}
		}
	}


}
