.landing{
	padding: 14px;
	.landing-section{
		padding: 14px 0;
		margin-bottom: 48px;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.title-wrapper{
			h1{
				font-size: 150px;
				line-height: 0.8;
			}
		}
		.info-wrapper{
			h2{
				border-top: 2px solid black;
				font-size: 80px;
				text-align: right;
				font-weight: 300;
			}
		}
	}
	.Collapsible{
		border-top: 2px solid black;
		padding: 14px 0;
		transition: all 0.4s;
		span.Collapsible__trigger{
			font-size: 36px;
			line-height: 1.1;
			font-weight: 300;
			width: 100%;
			cursor: pointer;
			display: inline-block;
		}
		h2{
			font-size: 72px;
			font-weight: 300;
			line-height: 1.1;
		}
		h3{
			font-size: 36px;
			line-height: 1.1;
			font-weight: 300;
			width: 60vw;
		}
		p{
			font-size: 24px;
			width: 60vw;
			font-weight: 300;
			line-height: 1.4;
		}
	}
}